/*------------------------------------------------------- */
/* Smartphones  ----------------------------------------- */
/*------------------------------------------------------- */
@media only screen and (max-width : 320px) {





}




/*---------------------------------------------------------------------- */
/* Smartphones (portrait) -------------------------------- */
/*---------------------------------------------------------------------- */
@media only screen and (min-width : 320px) and (max-width : 479px) {
body, html {
	font-size: 14px;
	}
.header {
	padding: 0px 15px 15px 15px;
	margin-bottom:10px;
	}
.logo {
	padding-top:20px;
	width:140px;
	}
.logo img {
	width:100%;
	height:auto;
	}
#nav { display:none; }
#nav_responsive {
	display:block;
	}
.accordion {
	padding:15px 0px 0px 0px;
	}
#contenedor {
	width:95%;
	padding:0px 5px;
	}
.columna_50 {
	float:left;
	width:100%;
	}
.separa_der {
	margin-right:1%;
	}
#mapa {
	padding-top:10px;
	}
.destaca_redes {
	width:48%;
	padding-bottom:10px;
	}
.home_destacados .resto_thumb {
	float:left;
	width:140px;
	height:140px;
	}
.post .listado .txt,
.post_recuadro .listado .txt {
	line-height:normal;
	}
.contacto_campos {
	width:100%;
	}
.foot {
	padding:10px;
	font-size:12px;
	}
h1 {
	padding:10px 0px;
	font-size:30px;
	}
.post_recuadro {
	border:1px solid #000;
	padding:5px;
	overflow:auto;
	}
.post_content {
	font-size:15px;
	}
.resto_thumb {
	width:160px;
	height:160px;
	}








}



/*-------------------------------------------------------------------- */
/* Smartphones (landscape) -------------------------------------------- */
/*-------------------------------------------------------------------- */
@media only screen and (min-width : 480px) and (max-width : 767px) {
.header {
	padding: 0px 20px 20px 20px;
	margin-bottom:10px;
	}
.logo {
	padding-top:20px;
	}
#nav { display:none; }
#nav_responsive {
	display:block;
	}
.accordion {
	padding:20px 0px 0px 0px;
	}
#contenedor {
	width:95%;
	padding:0px 10px;
	}
.columna_50 {
	float:left;
	width:100%;
	}
.separa_der {
	margin-right:2%;
	}
#mapa {
	padding-top:10px;
	}
.destaca_redes {
	width:48%;
	padding-bottom:10px;
	}
.home_destacados .thumb {
	padding:0px 1% 10px 1%;
	width:31%;
	}
.home_destacados .thumb img {
	width:100%;
	height:auto;
	}
.contacto_campos {
	width:100%;
	}
h1 {
	padding:10px 0px;
	font-size:35px;
	}
.post_content {
	font-size:15px;
	}







}




/*------------------------------------------------------------------ */
/* iPads (portrait) ---------------------------------- */
/*------------------------------------------------------------------ */
@media only screen and (min-width : 768px) and (max-width : 959px) {
#nav { display:none; }
#nav_responsive {
	display:block;
	}
.logo {	padding-top:30px;
	}
#contenedor {
	width:95%;
	padding:0px 10px;
	}
.columna_50 {
	float:left;
	width:49%;
	}
.separa_der {
	margin-right:2%;
	}
.destaca_redes {
	width:48%;
	}
.home_destacados .thumb {
	padding:0px 6px 12px 6px;
	}
.post .listado .txt {
	line-height:normal;
	}





}





/*----------------------------------------------------------------- */
/* iPads (landscape) ---------------------------------------------- */
/*----------------------------------------------------------------- */
@media only screen and (min-width : 768px) and (max-width : 1024px) and (orientation : landscape) {
#contenedor {
	width:95%;
	padding:0px 10px;
	}
.columna_50 {
	float:left;
	width:49%;
	}
.separa_der {
	margin-right:2%;
	}
.destaca_redes {
	width:48%;
	}

	

	
}


/*----------------------------------------------------------------- */
/* Desktop Small -------------------------------------------------- */
/*----------------------------------------------------------------- */
@media only screen and (min-width : 1025px) and (max-width : 1140px) {
#contenedor {
	width:95%;
	padding:0px 10px;
	}
.columna_50 {
	float:left;
	width:49%;
	}
.separa_der {
	margin-right:2%;
	}
.destaca_redes {
	width:48%;
	float:left;
	}





}







